:root{
    --line-style: 5px solid;
    --font-family: sans-serif;
}

body{
    background-color: gray;
    user-select: none; /*No permite que el usuario pueda seleccionar las grillas*/
}

h1{ /*definimos el titulo, le damos propiedades*/
    text-align: center;
    font-size: xx-large;
    font-family: --font-family;
    color: black;
}

dialog{
    text-align: center;
    min-width:23%;
    min-height: 5%;
    background-color: gray;
    padding: 5rem;
    border: unset;
    border-radius: 30px;
    font-size: x-large;
    font-family: --font-family;
}

dialog h2{
    font-family: sans-serif;
    font-size: xx-large;
}

dialog button{
    color: brown;
    padding: 1rem;
    font-size: x-large;
}

dialog::backdrop{
    backdrop-filter: blur(2px);
}

#contGrilla{ /*le damos estilo a la grilla, la centramos y definimos la cantidad de filas*/
    display: grid;
    grid-template-columns: repeat(3,0fr);
    justify-content: center;
}

.cuadrado{ /*cambiamos las propiedes de los cuadrados de la grilla*/
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    cursor: pointer;
}

/*Añado las lineas separadoras*/
.medio{
    border-left: var(--line-style);
    border-right: var(--line-style);
}

.arriba{
    border-bottom: var(--line-style);
}

.abajo{
    border-top: var(--line-style);
}

.ganador{
    background-color: green;
}

